# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea

desapp-grupoi-backend/desapp-grupoi-backend.iml
desapp-grupoi-backend/desapp-grupoi-backend.ipr
desapp-grupoi-backend/desapp-grupoi-backend.iws
desapp-grupoi-backend/target

desapp-grupoi-frontend/node_modules
desapp-grupoi-frontend/node
desapp-grupoi-frontend/etc
desapp-grupoi-frontend/dist
desapp-grupoi-frontend/desapp-grupoi-frontend.iml
desapp-grupoi-frontend/target/

desapp-grupoi.iml
