<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #C1D7D9;">
  <a class="navbar-brand" href="/">
    <img src="../assets/logo.png" width="112" height="30" alt="">
  </a>
  <div [ngSwitch]="isAuthenticated()">
    <ul *ngSwitchCase="true" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={{paths.home}}>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{paths.publication}}>Publications</a>
      </li>
    </ul>

    <ul *ngSwitchCase="false" class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href={{paths.login}}>Login</a></li>
    </ul>
  </div>
</nav>
<main role="main" class="body">
  <router-outlet></router-outlet>
</main>
