.body {
  background-image: url("../assets/blue_citroen_2cv_by_fucute-d7pgejj.jpg");
  background-size: cover;
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}

.ml-auto {
  left: auto !important;
  right: 30px;
}

