<div class="container">
  <h1>Crear usuario</h1>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="user.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Completar nombre
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" class="form-control" id="email" required
             [(ngModel)]="user.email" name="email"
             #email="ngModel">
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Completar email
      </div>
    </div>

    <div class="form-group">
      <label for="address">Direccion</label>
      <input type="text" class="form-control" id="address" required
             [(ngModel)]="user.address" name="address"
             #address="ngModel">
      <div [hidden]="address.valid || address.pristine"
           class="alert alert-danger">
        Completar direccion
      </div>
    </div>

    <div class="form-group">
      <label for="cuil">Cuil</label>
      <input type="text" class="form-control" id="cuil" required
             [(ngModel)]="user.cuil" name="cuil"
             #cuil="ngModel">
      <div [hidden]="cuil.valid || cuil.pristine"
           class="alert alert-danger">
        El cuil es obligatorio y de la forma 12-12345678-1
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
  </form>
</div>
