<p-dialog header="New Vehicle" [(visible)]="dialogVehicle" [width]="450" modal=true appendTo="body">
  <form novalidate [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
    <label>N° of passengers</label>
    <select class="form-control" [formControlName]="'passengers'">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
    </select>
    <hr/>
    <label>Type of vehicle</label>
    <br>
    <select class="form-control" [formControlName]="'type'">
      <option value="VehicleType.MOTORBIKE">Motorbike</option>
      <option value="VehicleType.AUTO">Car</option>
      <option value="VehicleType.PICKUP">Pick Up</option>
    </select>
      <hr/>
      <div>
        <label>License</label>
        <input class="form-control" type="text" formControlName="license" placeholder="Add license">
      </div>
      <div>
        <label>Description</label>
        <textarea class="form-control" formControlName="description" rows="3"></textarea>
      </div>
      <hr/>
      <div>
        <label>InputPictureLink</label>
        <input type="text" #inputPicture placeholder="Add link to picture">
        <button type="button" class="btn btn-info" (click)="addPicture(inputPicture.value)">+</button>
      </div>
      <h4>Pictures</h4>
      <ul>
        <li *ngFor="let picture of pictures">
          <img src="{{picture}}" class="img-fluid" alt="Responsive image">
        </li>
      </ul>
      <hr/>
      <p-footer>
        <button type="button" class="btn btn-danger" (click)="toggleAddVehicleDialog()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!vehicleForm.valid">Submit</button>
      </p-footer>
  </form>
</p-dialog>

<button type="text" (click)="toggleAddVehicleDialog()" pButton icon="fa-car" label="Add Vehicle"></button>
