<div class="body">
  <div class="titulo">Bienvenido a carpnb</div>
  <div class="links">
    <button class="link"
            (click)="authService.login()" type="button">
      Ingresá
    </button>
  </div>
</div>
<div class="container top-buffer">
  <video autoplay muted loop id="myVideo">
    <source src="../../assets/backgroundvideo.mp4" type="video/mp4">
  </video>
  <div class="card img-fluid overlay rounded">
    <div class="card-body">
  <h1 class="display-1">Welcome to CarPnD</h1>
    <button type="button" class="btn btn-outline-light btn-lg" (click)="authService.login()">Start Here!</button>
  </div>
  </div>
  <!--<img src="../../assets/logo.png" class="img-fluid overlay" alt="Responsive image">-->
</div>
