<div class="container">
  <div class="row">
    <header class="header">
      <div class="row">
        <h1>Publication</h1>
      </div>
      <hr />
    </header>
  </div>
  <div class="card">
    <div class="card-body">
  <div class="row">
    <br>
    <div class="col-md-3">
      <h3>Owner</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
          </tr>
          <tbody>
            <tr>
              <td>{{publication.owner.name}}</td>
              <td>{{publication.owner.score}}</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <h3>Vehicle</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col"># passengers</th>
          </tr>
          <tbody>
            <tr>
              <td>{{publication.vehicle.description}}</td>
              <td>{{publication.vehicle.numberOfPassengers}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
      <hr>
      <div class="row">
        <div class="col">
  <div class="container">
    <h3>PickUp Address</h3>
    <agm-map [latitude]="latpu" [longitude]="lngpu" [zoom]="15">
      <agm-marker [latitude]="latpu" [longitude]="lngpu">
        <agm-info-window>{{publication.pickUpAddress}}</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
        </div>
        <div class="col">
      <div class="container">
        <h3>Return Address</h3>
        <agm-map [latitude]="latr" [longitude]="lngr" [zoom]="15">
          <agm-marker [latitude]="latr" [longitude]="lngr">
            <agm-info-window>{{publication.returnAddress[0]}}</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Reserve</button>
    </div>
  </div>
</div>
