.card { background-color: rgba(213, 204, 255, 0.67); }
.card-header, .card-footer { opacity: 1}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
}
thead th span {
  visibility: hidden;
}
thead th.active {
  color: #000;
}
thead th.active span {
  visibility: visible;
}

.img-thumbnail {
  width: 50px;
  height: 50px;
}

.img-thumbnail:hover .wrapper {
  width: 150px;
  height: 150px;
}
