<div class="container-fluid">
  <h1 class="display-4">Publications</h1>

<div class="card top-buffer">
  <div class="row">
    <div class="col">
      <section class="main">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Owner</th>
            <th>Description</th>
            <th>Pickup address</th>
            <th>City</th>
            <th>Hourly Rate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let publication of publications">
            <th scope="row">{{publication.id}}</th>
            <td>{{publication.owner.name}}</td>
            <td>{{publication.vehicle.description}}</td>
            <td>{{publication.pickUpAddress}}</td>
            <td>{{publication.city}}</td>
            <td>{{publication.cost}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="viewPublicationPage(publication)">View</button>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
</div>
