<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4">My Profile</h1>
      <hr/>
      <br>
    </div>
  </div>
  <div [ngSwitch]="loading">
    <div *ngSwitchCase="true">
      Loading...
    </div>
    <div *ngSwitchCase="false" [ngSwitch]="error">
      <div *ngSwitchCase="true">
        <p> Unexpecter error.</p>
        <a href={{paths.login}}>Go to login and try again</a>
      </div>
      <div *ngSwitchCase="false" [ngSwitch]="userSwitch">
        <div class="row nav-item-margin">
          <div class="card top-buffer" style="width: 16rem;">
            <img class="card-img-top" src={{user.avatar}}>
            <div class="card-body">
              <h2 class="card-title" *ngSwitchCase="false">{{user.name}}</h2>
              <input class="col-12 form-control form-control-sm" *ngSwitchCase="true" type="text"
                     [(ngModel)]="userUpdate.name">
              <h5 class="card-text top-buffer">My CUIL</h5>
              <p class="card-text" *ngSwitchCase="false">{{user.cuil}}</p>
              <input class="form-control form-control-sm" *ngSwitchCase="true" type="text"
                     [(ngModel)]="userUpdate.cuil">
              <h5 class="card-text top-buffer">My Email</h5>
              <p class="card-text">{{user.email}}</p>
              <h5 class="card-text top-buffer">My Address</h5>
              <p class="card-text" *ngSwitchCase="false">{{user.address}}</p>
              <input class="form-control form-control-sm" *ngSwitchCase="true" type="text"
                     [(ngModel)]="userUpdate.address">
              <h5 class="card-text top-buffer align-items-center">My Rating</h5>
              <h3 class="strong">{{user.totalScore}}</h3>
              <div class="top-buffer">
                <button type="button" class="btn btn-primary" *ngSwitchCase="false" (click)="modifyProfile()">Modify
                  Profile
                </button>
                <button type="button" class="btn btn-danger" *ngSwitchCase="true" (click)="cancelProfileUpdate()">
                  Cancel
                </button>
                <button type="button" class="btn btn-info" *ngSwitchCase="true" (click)="updateUser()">Submit</button>
              </div>
            </div>
          </div>
          <div class="card top-buffer nav-item-margin" style="width: 16rem;">
            <div class="card-body">
              <h3 class="card-title">My vehicles</h3>
              <ng-container *ngFor="let vehicle of vehicles">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{vehicle.vehicleType}}</div>
                  <div class="card-body text-secondary">
                    <p class="card-text">{{vehicle.description}}</p>
                    <button type="text" (click)="viewVehicle(vehicle)" pButton label="View"></button>
                    <button type="text" (click)="deleteVehicle(vehicle)" pButton label="Delete"
                            class="ui-button-danger"></button>
                  </div>
                </div>
              </ng-container>
              <button type="text" (click)="toggleAddVehicleDialog()" pButton icon="fa-car" label="Add Vehicle"></button>
            </div>
          </div>
          <div class="card top-buffer nav-item-margin" style="width: 16rem;">
            <div class="card-body">
              <h3 class="card-title">My publications</h3>

              <ng-container *ngFor="let publication of publications">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{vehicleLicenseOf(publication.vehicleId)}}</div>
                  <div class="card-body text-secondary">
                    <p class="card-text">{{publication.pickUpAddress}}</p>
                    <p class="card-text">Cost - {{publication.cost}}</p>
                  </div>
                </div>
              </ng-container>
              <button type="text" (click)="addPublication()" pButton icon="fa-bell" label="New Publication"></button>
            </div>
          </div>

          <div class="card top-buffer nav-item-margin" style="width: 16rem;">
            <div class="card-body">
              <h3 class="card-title">My reservations</h3>
              <ng-container *ngFor="let reservation of reservations">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                  <div class="card-header">{{reservation.reservationState}}</div>
                  <div class="card-body">
                    <p class="card-text">Selected date: {{reservation.selectedDates[0]}}</p>
                    <p class="card-text">Cost per hour: {{reservation.publication.cost}}</p>
                    <div [ngSwitch]="reservation.reservationState">
                      <div *ngSwitchCase="'PENDING_OWNER_CONFIRMATION'">
                        <button type="text" (click)="confirmReservation(reservation.id)" pButton label="Confirm"></button>
                      </div>
                      <div *ngSwitchCase="'CONFIRMED_BY_OWNER'">
                        <p class="card-text">Waiting client get vehicle</p>
                      </div>
                      <div *ngSwitchCase="'CLIENT_GET_VEHICLE'">
                        <button type="text" (click)="confirmVehicleDeliver(reservation.id)" pButton label="Confirm vehicle deliver"></button>
                      </div>
                      <div *ngSwitchCase="'CLIENT_USING_VEHICLE'">
                        <p class="card-text">Waiting client to finish using the vehicle</p>
                      </div>
                      <div *ngSwitchCase="'CLIENT_RETURN_VEHICLE'">
                        <p class="card-text">Punctuate the client</p>
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="clientScore">
                        <br/>
                        <button type="text" (click)="ownerFinishReserve(reservation.id)" pButton label="Finish the reserve"></button>
                      </div>
                      <div *ngSwitchCase="'RENT_FINISHED'">
                        <p class="card-text">Reserve finished</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="New Vehicle" [(visible)]="dialogVehicle" [width]="450" modal=true appendTo="body">
  <label>N° of passengers</label>
  <select class="form-control" [(ngModel)]="newVehicle.numberOfPassengers">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
  </select>
  <hr/>
  <label>Type of vehicle</label>
  <br>
  <select class="form-control" [(ngModel)]="newVehicle.vehicleType">
    <option value="MOTORBIKE">Motorbike</option>
    <option value="AUTO">Car</option>
    <option value="PICKUP">Pick Up</option>
  </select>
  <hr/>
  <div>
    <label>License</label>
    <input class="form-control" type="text" [(ngModel)]="newVehicle.license" placeholder="Add license">
  </div>
  <div>
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="newVehicle.description" rows="3"></textarea>
  </div>
  <hr/>
  <div>
    <label>InputPictureLink</label>
    <input type="text" #inputPicture placeholder="Add link to picture">
    <button type="button" class="btn btn-info" (click)="addPicture(inputPicture.value)">+</button>
  </div>
  <h4>Pictures</h4>
  <ul>
    <li *ngFor="let picture of newVehicle.pictures">
      <img src="{{picture}}" class="img-fluid" alt="Responsive image">
    </li>
  </ul>
  <hr/>
  <p-footer>
    <button type="button" class="btn btn-danger" (click)="toggleViewVehicle()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="addVehicleToUser()">Submit</button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="dialogViewVehicle" [width]="450" modal=true appendTo="body">
  <p-header>{{actualVehicle.vehicleType}}</p-header>
  <div class="card-body text-secondary">
    <p class="card-text">Number of passengers: {{actualVehicle.numberOfPassengers}}</p>
    <p class="card-text">Description: {{actualVehicle.description}}</p>
    <p class="card-text">License: {{actualVehicle.license}}</p>
    <button type="text" (click)="toggleAddVehicleDialog()" pButton label="Close"></button>
  </div>
</p-dialog>
